body{
    margin: 0 ;
}

.container-general{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;  
}

h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #444749;
}
.container-a{
    width: 20%;
    height: 40rem;
    padding: 0 0 0 10px;
    /* border-width: 1px;
    border-style: solid; */
    /* border-color: blue; */
    display: flex;
    flex-direction: column;
}

.contacto {
    display: flex;
}
.caja-principal{
    width: 50%;
    height: 3rem;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #BEC1BB;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
}

.caja1{
    width: 2rem;
    height: 5rem;
    display: flex;
    align-items: center;
}



.caja2{
    width: 5rem;
    height: 2rem;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.caja2 h6{
    color: #BEC1BB;
    font-size: 10px;
}

h5{
    font-size: 1rem;
    height: -1rem;
}

h6{
    font-size: 0.9rem;
    height: 1rem;
}


.nombre{
    width: 10rem;
    height: -1rem;
    margin: 0;
    display: flex;
    justify-content: center;
}


.estado{
    width: 5rem;
    height: 2rem;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}




.caja-secundaria{
    width: 50%;
    height: 3rem;
    border-width: 0 0 1px 0;
    /* box-decoration-break: 20px 0px 7px rgb(189, 28, 28) */
    border-style: solid;
    border-color: #BEC1BB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cajaa{
    width: 4rem;
    height: 4rem;
    padding: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cajab{
    width: 4rem;
    height: 4rem;
    padding: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.boton-chat{
    width: 100%;
    height: 150rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #BEC1BB;
    

}

.btn.btn-primary{
    border: none;
    width: 150px;
    height: 50px;
    background-color: #A491D2;
    color:white;
   
}

.contacto1{
    width: 100%;
    height: 4rem;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #BEC1BB;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.caja-contacto1{
    display: flex;
    flex-direction: column;
  
}

.caja-contacto1 h5{
    height: 1rem;
    padding: 0 0 0 8px;
    justify-content: flex-start;

}

.caja-contacto1 h6{
    width: 150px;
    height: 1rem;
    padding: 0 0 0 8px;
    justify-content: flex-start;
}

.container-x{
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: #BEC1BB;
    background-color: #E8EBE4;
    width: 100%;
    display: flex;
    align-content: center;
}
.seccion-mano{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.seccion-mano img{
    width: 250px;
    height: 250px;
}

.seccion-mano p{
    text-align: center;
}

